server:
  port: 8000

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8080
              predicates:
                - Path=/users/**

            - id: board-service
              uri: http://localhost:8081
              predicates:
              - Path=/boards/**

            - id: point-service # 식별자
              uri: http://localhost:8082 # 전달주소
              predicates:
                - Path=/points/** # 전달 패턴